In [5]:
print ("hello")

hello

In [1]:
# Given list
numbers = [1, 5, 6, 5, 1, 2, 3]

# Create an empty list to store duplicates
duplicates = []

# Create a set to track seen elements
seen = set()

# Loop through the list
for num in numbers:
    if num in seen and num not in duplicates:
        duplicates.append(num)
    seen.add(num)

# Print the list of duplicate elements
print("Duplicate elements:", duplicates)

Duplicate elements: [5, 1]

In [7]:
# Original list
original_list = [1, 5, 6, 5, 1, 2, 3]

# Initialize an empty list to store duplicates
duplicates = []

# Iterate through the original list
for item in original_list:
    if original_list.count(item) > 1 and item not in duplicates:
        duplicates.append(item)

# Print the list of duplicates
print("List of duplicate elements:", duplicates)

List of duplicate elements: [1, 5]

In [ ]:
# List of countries in SAARC
saarc=["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives", "Nepal", "Pakistan", "Sri Lanka"]
country=input("Enter the name of the country: ")
if country in saarc:
    print(country, "is a member of SAARC")
else:
    print(country, "is not a member of SAARC")

India is a member of SAARC

:

In [5]:
# Given list
n1 = 20
n2 = 30
n3 = 25
if (n1 >= n2) and (n1 >= n3):
    largest = n1
elif (n2 >= n1) and (n2 >= n3):
    largest = n2
else:
    largest = n3
print("The largest number is", largest)

The largest number is 30

In [4]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print (year, "is a leap year")
        else:
            print (year, "is not a leap year")
    else:
        print (year, "is a leap year")
else:
    print (year, "is not a leap year")

1947 is not a leap year

In [1]:
import turtle
turtle.forward(100)
turtle.exitonclick()

In [1]:
import turtle
turtle.forward(100)
turtle.right(90)
turtle.forward(100)
turtle.right(90)
turtle.forward(100)
turtle.right(90)
turtle.forward(100)
turtle.exitonclick()

In [3]:
for i in range(5):
    print("I want to be a spatial data analyst!")

I want to be a spatial data analyst!
I want to be a spatial data analyst!
I want to be a spatial data analyst!
I want to be a spatial data analyst!
I want to be a spatial data analyst!

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
import turtle
turtle.shape("turtle")
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.exitonclick()

In [9]:
import turtle
turtle.shape("turtle")
for i in range(4):
    turtle.forward(100)
    turtle.left(90)
turtle.exitonclick()

In [18]:
result = 0
for i in range(50):
    result = result + 1
print(result)

50

In [19]:
result = 0
for i in range(51):
    result += i
print(result)

1275

In [21]:
result = 0
for num in range(51):
    result = result + num
print(result)

1275

In [22]:
result = 0
for num in range(51):
    result += num
print(result)

1275

In [26]:
for i in range(0, 21, 5):
    print(i)

0
5
10
15
20

In [27]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
max_n = numbers[0]
for num in numbers:
    if num > max_n:
        max_n = num
print(max_n)

11

In [34]:
result = 0
for num in range(51):
    if num % 5 == 0:
        print(num)
        result += num
print("Sum:", result)

0
5
10
15
20
25
30
35
40
45
50
Sum: 275

In [1]:
result = 0
for num in range(0, 51, 5):
    if num % 5 == 0:
        print(num)
        result += num
print("Sum:", result)

0
5
10
15
20
25
30
35
40
45
50
Sum: 275

In [ ]:
import turtle
turtle.speed(1)
for i in range(20):
    turtle.forward(10)
    tuple.penup()
    tuple.forward(3)
    tuple.pendown()
turtle.exitonclick()

In [2]:
import turtle
turtle.shape("turtle")
turtle.speed(1)

for side_length in range(50, 100, 10):
    for i in range(4):
        turtle.forward(side_length)
        turtle.left(90)

turtle.exitonclick()

In [ ]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives", "Nepal", "Pakistan", "Sri Lanka"]
for country in saarc:
    print(country, "is a member of SAARC")

Afghanistan is a member of SAARC
Bangladesh is a member of SAARC
Bhutan is a member of SAARC
India is a member of SAARC
Maldives is a member of SAARC
Nepal is a member of SAARC
Pakistan is a member of SAARC
Sri Lanka is a member of SAARC

In [5]:
li = list (range(11))
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
li = list(range(1, 21, 2))
print(li)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
result = 0
li = list(range(1, 21, 2))
for i in li:
    result += i
print(result)

TypeError: 'list' object is not callable

In [16]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [15]:
i = 0
while i < 5:
    print("I want to be a spatial data analyst!")
    i += 1

I want to be a spatial data analyst!
I want to be a spatial data analyst!
I want to be a spatial data analyst!
I want to be a spatial data analyst!
I want to be a spatial data analyst!

In [25]:
i = 5
while i >= 0:
    i -= 1
    print(i)

4
3
2
1
0
-1

In [27]:
n = input ("Please enter a positive integer: ")
n = int(n)
m=1
while m <= 10:
    print(n, "x", m, "=", n*m)
    m += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [33]:
import turtle
turtle.color("green")
turtle.speed(5)
counter = 0
while counter < 36:
    for i in range(4):
        turtle.forward(100)
        turtle.right(90)
    turtle.right(10)
    counter += 1
turtle.exitonclick()

In [ ]:
import turtle
height = 5
width = 5
turtle.color("green")
turtle.speed(2)
turtle.penup()
for y in range(height):
    for x in range(width):
        turtle.dot()
        turtle.forward(20)
    turtle.backward(20 * width)
    turtle.right(90)
    turtle.forward(20)
    turtle.left(90)
turtle.exitonclick()

Chapter 7: Function

In [1]:
def add(a, b):
    return a + b

In [3]:
def add(a, b):
    return a + b
a=10
b=5
result = add(a, b)
print(result)

15

In [5]:
num1 = 10
num2 = 10
result = add(num1, num2)
print(result)

20

In [9]:
n1 = 10
n2 = 20
print(add(n1, n2))

30

In [4]:
import turtle
def draw_square():
    for i in range(4):
        turtle.forward(100)
        turtle.right(90)
draw_square()
turtle.exitonclick()

In [6]:
import turtle
def draw_square(side_length):
    for i in range(4):
        turtle.forward(side_length)
        turtle.right(90)

counter = 0
while counter < 90:
    draw_square(100)
    turtle.right(4)
    counter += 1
turtle.exitonclick()

In [11]:
def myfnc(x):
    print("Inside my function", x)
    x = 10
    print("inside my function", x)
x = 20
myfnc(x)
print(x)

Inside my function 20
inside my function 10
20

In [12]:
def myfnc(y):
    print("y=", y)
    print("x=", x)
x = 20
myfnc(x)

y= 20
x= 20

In [13]:
def myfnc(y):
    print("y=", y)
    print("x=", x)
x = 20
myfnc(x)
print("y=", y)

y= 20
x= 20

NameError: name 'y' is not defined

In [14]:
def myfnc(y=10):
    print("y=", y)
x = 20
myfnc(x)
myfnc()

y= 20
y= 10

In [17]:
def myfnc(x,y=10,z=0):
    print("x=", x, "y=", y, "z=", z)
x = 5
y = 6
z = 7
myfnc(x, y, z)
myfnc(x, y)
myfnc(x)

x= 5 y= 6 z= 7
x= 5 y= 6 z= 0
x= 5 y= 10 z= 0

In [18]:
def add_numbers(numbers):
    result = 0
    for num in numbers:
        result += num
    return result
result = add_numbers([1, 2, 30, 4, 5, 9])
print(result)

51

Chapter 8: Working with String

In [19]:
s="Hello"
len(s)

5

In [26]:
country = "Bangladesh"
print(country[0])
print(country[1])
print(country[2])
print(country[3])
print(country[4])
print(country[5])
print(country[6])
print(country[7])
print(country[8])
print(country[9])

B
a
n
g
l
a
d
e
s
h

In [28]:
country = "Bangladesh"
for c in country:
    print(c)

B
a
n
g
l
a
d
e
s
h

In [32]:
country = "Bangla" + "desh"
print (country)

Bangladesh

In [33]:
x = "50"+"5"
print(x)

505

In [ ]:
country = "Bangladesh"
print(country.find("Bang")) #index of the first character of the substring
print(country.find("desh")) #index of the first character of the substring
print(country.find("lad")) #index of the first character of the substring
print(country.find("bla")) #substring not found

0
6
4
-1

In [41]:
Country = "North Korea"
new_country = Country.replace("North", "South")
print(new_country)
print(Country)

South Korea
North Korea

In [45]:
text = " I am a spatial data analyst.  "
print(text.rstrip())
print(text.lstrip())
print(text.strip())

 I am a spatial data analyst.
I am a spatial data analyst.
I am a spatial data analyst.

In [63]:
c = "Bangladesh is a beautiful country"
c_up=c.upper()  #converts all characters to uppercase
print(c_up)
c_low=c.lower() #converts all characters to lowercase
print(c_low)
c_title=c.title() #converts the first character of each word to uppercase
print(c_title)
c_cap=c.capitalize() #converts the first character to uppercase
print(c_cap)

BANGLADESH IS A BEAUTIFUL COUNTRY
bangladesh is a beautiful country
Bangladesh Is A Beautiful Country
Bangladesh is a beautiful country

In [ ]:
str = "I am a spatial data analyst"
words = str.split() #split the string into words
print(words)
for i in words:
    print(i)

['I', 'am', 'a', 'spatial', 'data', 'analyst']
I
am
a
spatial
data
analyst

In [ ]:
str="I am a spatial data analyst"
str.count("s") #count the number of occurrences of the substring

2

In [53]:
country = "Bangladesh"
country.startswith("Bang") #check if the string starts with the substring
country.endswith("desh") #check if the string ends with the substring
country.startswith("bang") #check if the string starts with the substring
country.endswith("Desh") #check if the string ends with the substring

False

In [ ]:
name = "Mr. Sohel Rana"
if name.startswith("Mr."): #check if the string starts with the substring
    print("Dear Sir")
else:
    print("Dear Madam")

Dear Sir

In [62]:
name = input("What is your name?").lower()

if name.startswith("mr."):
    print("Hello sir, how are you?")
elif name.startswith("mrs.") or name.startswith("miss."):
    print("Hello madam, how are you?")
else:
    name = name.title()
    greeting = "Hello " + name + ", how are you?"
    print(greeting)

Hello Sohel Rana, how are you?

In [64]:
str = "a quick brown fox jumps over the lazy dog"
for c in "abcdefghijklmnopqrstuvwxyz":
    print(c, str.count(c))

a 2
b 1
c 1
d 1
e 2
f 1
g 1
h 1
i 1
j 1
k 1
l 1
m 1
n 1
o 4
p 1
q 1
r 2
s 1
t 1
u 2
v 1
w 1
x 1
y 1
z 1

Chapter 9: Data Structure of Python

In [10]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
saarc.append("X")
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka', 'X']

In [12]:
saarc = ["Afghanistan", "Bhutan", "India", "Maldives", "Bangladesh", "Nepal", "Pakistan", "Sri Lanka"]
saarc.sort()
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

In [20]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
#saarc.sort(reverse=True)
saarc.reverse()
print(saarc)

['Sri Lanka', 'Pakistan', 'Nepal', 'Maldives', 'India', 'Bhutan', 'Bangladesh', 'Afghanistan']

In [21]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
saarc.insert(4, "X")
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'X', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

In [23]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
saarc.remove("India")
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

In [24]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
saarc.pop(3)
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

In [27]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
country = "India"
if country in saarc:
    saarc.remove(country)
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

In [29]:
saarc = ["Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives","Nepal", "Pakistan", "Sri Lanka"]
country = "India"
if country in saarc:
    saarc.remove(country)
else:
    print(country, "is not a member of SAARC")
print(saarc)

['Afghanistan', 'Bangladesh', 'Bhutan', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

In [33]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
list1 = [1, 2, 3, 4, 5, 6, 7, 6, 4, 4, 5, 6, 7, 8, 9, 10]
list1.count(4)
print(list1.count(5))

2

In [48]:
list1 = [1, 2, 3, 4, 5, 6, 7, 6, 4, 4, 5, 6, 7, 8, 9, 10]
print(list1.index(10))
print(len(list1))
del list1[0]
print(list1)

15
16
[2, 3, 4, 5, 6, 7, 6, 4, 4, 5, 6, 7, 8, 9, 10]

In [45]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1.clear()
print(list1)

[]

In [44]:
list1 = []
for i in range(1, 11, 2):
    list1.append(i)
print(list1)

[1, 3, 5, 7, 9]

In [43]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
listed = list1 + list2
print(listed)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
list1 = [1, 2, 3, 4, 5]
list2 = list1 * 2
print(list2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

List Comprehensions

In [47]:
new_list = []
list1 = [1, 2, 3, 4, 5]
for i in list1:
    new_list.append(i * 2)
print(new_list)
type(list1)

[2, 4, 6, 8, 10]

list

In [4]:
new_list = [i * 2 for i in [1, 2, 3, 4, 5]]
print(new_list)

[2, 4, 6, 8, 10]

In [49]:
list1 = [1, 2, 3, 7, 8, 9, 4, 5, 6]
even_numbers = [i for i in list1 if i % 2 == 0]
print(even_numbers)
type (list1)

[2, 8, 4, 6]

list

Tuple

In [17]:
x= (1, 2, 3, 4, 5)
type(x)
y= 1, 2, 3, 4, 5
type(y)

tuple

In [25]:
x= (1, 2, 3, 4, 5)
print(x[0])
print(x[1])

1
2

In [27]:
numbers = (2, 3, 4, 5)
n1, n2, n3, n4 = numbers
print(n1)

2

In [32]:
items = (1, 4, 3, 6, 5.5, "X", [1, 2, 3], ("Bangladesh", "India"))
for item in items:
    print(item, type(item))

1 <class 'int'>
4 <class 'int'>
3 <class 'int'>
6 <class 'int'>
5.5 <class 'float'>
X <class 'str'>
[1, 2, 3] <class 'list'>
('Bangladesh', 'India') <class 'tuple'>

In [ ]:
# Example tuple
t = (1, 2, 3, 4)
# Convert tuple to list
a = list(t)
print(a)

TypeError: 'list' object is not callable

Set

In [70]:
li = {1, 2, 3, 4, 5}
A = set(li)
B = {4, 5, 6, 7, 8}
print("union:",A.union(B))
C=A|B
print("union:",C)
print("intersection:",A.intersection(B)) 
C=A&B
print("intersection:",C)
print("difference:",A.difference(B))
C=A-B
print("difference:",C)
print("symmetric_difference:",A.symmetric_difference(B)) 
C=A^B
print("symmetric_difference:",C)
print("subset:",A.issubset(B))
print("superset:",A.issuperset(B))
print("disjoint:",A.isdisjoint(B))
A.add(9)
print(A)
A.remove(1)
print(A)
A.discard(2)
print(A)
A.pop()
print(A)

union: {1, 2, 3, 4, 5, 6, 7, 8}
union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}
intersection: {4, 5}
difference: {1, 2, 3}
difference: {1, 2, 3}
symmetric_difference: {1, 2, 3, 6, 7, 8}
symmetric_difference: {1, 2, 3, 6, 7, 8}
subset: False
superset: False
disjoint: False
{1, 2, 3, 4, 5, 9}
{2, 3, 4, 5, 9}
{3, 4, 5, 9}
{4, 5, 9}

Dictionary

In [72]:
marks = [80, 90, 85, 70, 95]
roll = input ("Enter the roll number: ")
print("Marks:", marks[int(roll)-1])

Marks: 90

In [74]:
marks = {1:80, 3:90, 5:85, 2:70, 4:95}
marks[3]

90

In [75]:
marks = {"HDFC": 100, "ICICI": 200, "SBI": 300, "Axis": 400}
print(marks["SBI"])

300